html {
height: 100%;
width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #101214;
    -webkit-font-smoothing: anyialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    background: url(./hero.jpg) repeat-x;
    min-height: 100%;
    min-width: 1200px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

ul 
{padding: 0;
margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1145px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 560px;
}

.header {
padding-top: 35px;
min-height: 77px;
margin-bottom: 34px;
display: flex;
justify-content: space-between;
align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--allign--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 210px;
}

.contacts {
    top: 11px;
    right: 7px;
}
.contacts__dropdown-desk {
    color: #fff;
    font-size: 11px;    
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item--active .menu__link {
    color: #a22e0a
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #a22e0a;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #a22e0a;
}

.hero__text-section {
    text-align: center;
}

.hero__title {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero__subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 61px;
}

.btn {
    background: #ff3900;
    border-radius: 30px;
    padding: 16px 46px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
}

.btn--white {
    background: #fff;
    color: #ff3900;
    border: 2px solid #ff3900;

}

.section {
    margin-bottom: 60px;
    margin-top: 115px;
}

.offers {
    display: flex;
    margin-top: 155px;
    justify-content: space-between;
}

.offers__item {
    min-height: 470px;
    background: #fff;
    border-radius: 4px;
    width: calc(100%/3);
    margin-right: 23px;
    flex: 1;
    }

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 260px;
    margin-bottom: 48px;
}

.offers__content {
   padding: 36px 30px; 
   color: black;
}

offers__icon {
    margin-bottom: 14px;
}

.offers__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.offers__diskription {
    display: flex;
    justify-content: space-between;
}

.offers__discription-block {
    margin-bottom: 30px;
}
    
.offers__discription-long {
min-width: 100px;
}
    

.offers__text {
font-size: 14px;
padding-top: 5px;
padding-bottom: 60px;
}

.section-news {
    margin-top: 100px;
}
.news {vertical-align: top;}

.section__title {
    font-size: 48px;
    margin-bottom: 27px;
}

.news__item {
    width: 550px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 20px;
    min-height: 415px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}

.news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 170px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 18px;
}

.news__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.pager {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.news {
    margin-bottom: 55px;
}

.pager__display {
    margin-right: 26px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__item--active .pager__link {
    background: #ff3900;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    text-decoration: none;
    font-weight: bold;
}

.about:before, .about__desc {
    display: inline-block;
    vertical-align: top;
}

.about:before {
    content: "";
    display: inline-block;
    display: block;
    width: 488px;
    height: 500px;
    background: url("./cameraman.jpg") center center / cover no-repeat;
}

.about__desc {
    background:#fff;
    color: black;
    padding-left: 100px;
    width: 780px;
    height: 457px;
    margin-left: 350px;
    margin-top: -350px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-top: 60px;
}


.about__desc-text p {
margin-bottom: 20px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}

.footer {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align-right {
    justify-content: flex-end;
}

.footer-container {
margin-top: auto;
}

.menu-footer {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-footer__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    }

.menu-footer__list {
    padding-right: 230px;
}

    .socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
}

.socials {
    bottom: 22px;
    margin-right: 110px;
}

socisls__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon-telegram .socials__link {
    background-image: url("./t.png");
}
.socials__item--icon-telegram .socials__link:hover {
    background-image: url("./t2.png");
}
.socials__item--icon-telegram .socials__link {
    background-image: url("./t2.png");
}

.socials__item--icon-telegram .socials__link {
    background-image: url("./t2.png");
}




/*services page*/