body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #101214;
    -webkit-font-smoothing: anyialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul 
{padding: 0;
margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.container {
    margin: 0 auto;
    width: 1150px;
}
.header {
 height: 150px;
position: relative;
margin-bottom: 50px;
}

.logo {
    display: block;
    position: absolute;
    top: 15px;
    left: 0px;
    
}

.menu {
    position: absolute;
    top: 30px;
    left: 439px;
    /*убрать отступ после отзывов*/
}
.contacts {
    position: absolute;
    top: 11px;
    right: 7px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link {
    color: #a22e0a
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #a22e0a;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #a22e0a;
}

.hero__text-section {
    width: 800px;
    padding-top: 0px;
    padding-left: 90px;

}

.hero__title {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 145px;
    margin-top: 95px;
    width: 800px;
    text-transform: uppercase;
}
.hero__subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 61px;
    margin-top: 20px;
    margin-left: 275px;
}

.btn {
    background: #ff3900;
    border-radius: 30px;
    padding: 16px 46px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 386px;
    margin-top: 100px;
}
.section {
    margin-bottom: 138px;
}

.section__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 45px;
}

.offers__item {
    min-height: 300px;
}
.offers__header {
    min-height: 400px;
    margin-bottom: 28px;
    background: #fff;
    display: inline-block;
    margin-right: 28px;
    width: 362px;
}


.news__item {
    width: 560px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.pager {
    text-align: center;    
}

.pager__display, .pager__list {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 26px;
}
.pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__item--active .pager__link {
    background: #ff3900;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    text-decoration: none;
    font-weight: bold;
}













