html {
    height: 100%;
    width: 100%;
    }
    
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #101214;
    -webkit-font-smoothing: anyialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
.wrapper {
    max-width: 100%;
}

.container {
    width: 1145px;
    margin: 0 auto;
    }

a {
    color: inherit;
}

ul 
{padding: 0;
margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}


* {
    box-sizing: border-box;
}

img {
    display: block;
}
.top-line__container {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 1145px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("./top-line.jpg") center;

}

.top__line {
    min-height: 410px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    
}

.top-line .header {
    margin-bottom: 105px;
}

.header {
    padding-top: 37px;
    min-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.header__col {
    display: flex;
    align-items: center;
}

.header__col header__col--allign--right
{
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 210px;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #a22e0a;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__menu {
    position: absolute;
    background: #fff;
    color: black;
    padding: 10px;
    width: 180px;
    top: 100%;
    margin-top: 10px;
    display: none;
}
    
  
    .menu__item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 50px;
    }
    
    .menu__item:last-child {
        margin-right: 0;
    }
    
    .menu__item--active .menu__link {
        color: #a22e0a
    }
    
    .menu__link {
        font-size: 14px;
        text-decoration: none;
    }
    
    .menu__link:hover {
        color: #a22e0a;
    }
    
    .contacts {
        font-style: normal;
        text-align: right;
   }
    
    .contacts__phone {
        text-decoration: none;
        font-size: 26px;
        margin-bottom: 4px;
    }
    
    .contacts__dropdown-title {
        font-size: 13px;
        text-decoration: underline;
        color: #a22e0a;
    }

    .page-title {
        font-size: 74px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 27px;
        margin-bottom: 20px;
    }
    .breadcrumbs {
    margin-top: 71px;
    }


    .breadcrumbs__list {
        display: flex;
        align-items: center;
}

    .breadcrumbs__item {
        display: flex;
        align-items: center;
    }

    .breadcrumbs__item--active .breadcrumbs__link {
        font-weight: normal;
    }

    .breadcrumbs__link {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
    }


    .breadcrumbs__item:after {
        content: " / ";
    }

    .breadcrumbs__item:last-child:after {
        display: none;
    }

   
    .page-content {
        background: #fff;
        color: black;
        padding-top: 90px;
    }


    .service {
        display: flex;
        margin-bottom: 40px;
    }

    .service:last-child {
        margin-bottom: 0;
    }

    .service__img {
        width: 460px;
        height: 380px;
        border-radius: 6px;
        flex-shrink: 0;
        overflow: hidden;
        margin-right: 50px;
    }

.service__img-elem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .service__content {
        flex: 1;

    }
    .service__title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .service__title:last-child {
        padding-top: 0;
    }

    .service__desk {
        margin-bottom: 114px;
        line-height: 1.7;
    }

    .btn {
        color: #fff;
        background: #ff3900;
        border-radius: 30px;
        padding: 16px 46px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
 }

    .btn--white {
        background: #fff;
        color: #ff3900;
        border: 2px solid #ff3900;
    }

    .form__btn--color--black {
        border: none;
        cursor: pointer;
        background: #424242;
        margin-right: 20px;
    }

    .form__btn--color--orange {
        border: none;
        cursor: pointer;
        padding: 20px 55px;
    }


    .pager {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-top: 90px;
        padding-bottom: 85px;
    }
    
    
    .pager__display {
        margin-right: 26px;
    }
    
    .pager__list {
        display: flex;
        align-items: center;
    }
    
    .pager__item {
        text-align: center;
    }
    
    .pager__item--active .pager__link {
        background: #ff3900;
        color: #fff;
    }
    
    .pager__link {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-decoration: none;
        font-weight: bold;
    }

    .partners {
        background-color: #f4f5f5;
        padding-bottom: 102px;
        padding-top: 85px;
    }

    .partners__title {
        color: black;
        font-size: 48px;
        font-weight: bold;
        margin-left: 45px;
        margin-bottom: 73px;
    }

    .partners__list {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: -66px;
    }

    .partners__item {
        width: calc(100%/4);
        margin-bottom: 66px;
        display: inline-flex;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
    }

    .partners__icon {
        filter: grayscale(1);
    }

    .partners__icon:hover {
        filter:grayscale(0);
        transition: 1s;
    }

    .partners__link {
        display: inline-block;
    }
        
    .footer {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .menu {
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    
    .menu__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
        }
    
    .socials__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 13px;
    }
    
    .socials {
        bottom: 22px;
    }
    
    .socisls__item:last-child {
        margin-right: 0;
    }
    
    .socials__link {
        display: block;
        text-decoration: none;
        width: 36px;
        height: 36px;
        background: center center no-repeat;
    }
    
    .socials__item--icon-telegram .socials__link {
        background-image: url("./t.png");
    }
    .socials__item--icon-telegram .socials__link:hover {
        background-image: url("./t2.png");
    }
    .socials__item--icon-telegram .socials__link {
        background-image: url("./t2.png");
    }
    
    .socials__item--icon-telegram .socials__link {
        background-image: url("./t2.png");
    }
    
    /*WELCOME*/

    .welcome {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: url("./bottom-pic.jpg");
    }


    .central {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        animation: rotatein 1.9s;
        animation-fill-mode: forwards;        
    }

    @keyframes rotatein {
        from {
            transform: scale(0.1) rotate(30deg);
        }

        50% {
            transform: rotate(-10deg);
        }

        70% {
            transform: rotate(3deg);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .central__logo {
        margin-bottom: 40px;
        }

    
    
        /*Review*/

    .review {
        display: inline-flex;
        flex-direction: column;
        padding: 50px 30px;
        background: #f4f5f5;
        margin-bottom: 20px;
    }

    .avatar {
        width: 140px;
        height: 140px;
        overflow: hidden;
        border-radius: 50%;
    }

    .review__header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .review__user {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        color: black;
        margin-bottom: 11px;
    }

    .review__userdata {
        margin-left: 15px;
    }

    .review__user:after {
        content: url("./vk-colored.png");
        height: 29px;
    }

    .review__tags {
        display: flex;
        align-items: flex-start;
    }

    .tag {
        font-size: 13px;
        color: black;
        padding: 8px 16px;
        border-radius: 50px;
        background: #e7e7e7;
    }
    .review__tag-item {
        font-size: 13px;
        color: black;
        padding: 8px 16px;
        border-radius: 50px;
        background: #f2d3c8;
    }
    

    .review__title {
        font-size: 30px;
        color:black;
        font-weight: bold;
    }
    .review__date {
        font-size: 14px;
        font-weight: bold;
    }
    .reviews {
        column-count: 2;
        column-gap: 30px;
    }

    .promo {
        background: url("./party.png") bottom no-repeat;
        min-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .promo__content {
        max-width: 48%;
    }

    .promo__title {
        font-size: 48px;
        font-weight: bold;
        line-height: 1.1;
    }

    .form {
        background: rgb(209, 208, 208);
    }

    .form__title {
        color: black;
        font-size: 45px;
        font-weight: bold;
        padding-top: 70px;
        text-transform: uppercase;
    }


    .form__row {
        display: flex;
        margin-bottom: 30px;
        margin-top: 65px;
    }

    .form__input {
        flex: 1;
        margin-right: 30px;
        border-radius: 2px;
        border: none;
        background: #fff;
        padding: 20px 30px;
        font-size: 18px;
        color: black;
    }

    .form__input:placeholder {
        color: #666;
    }

    .form__input:last-child {
        margin-right: 0;
    }

    .form__input--textarea {
        height: 230px;
    }

    .controls__elem {
        cursor: pointer;
    }

    .controls__checkbox:checked ~ .controls__tag {
        background: #f2d3c8;
    }

    .controls__checkbox {
        display: none;
    }

    .form__controls {
        display: flex;
    }

    .form__controls-title {
        color: black;
        width: 34%;
        font-size: 18px;
    }
    .controls {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .controls__item {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .form__btns {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 135px;
    }